@model ProductDetailsModel
@using Nop.Web.Models.Catalog;
@if (Model.CompareProductsEnabled)
{
    <div class="compare-products col-md-5">
       <button type="button"  class="btn btn-primary add-to-compare-list-button"  onclick="setLocation('@Url.RouteUrl("AddProductToCompare", new { productId = Model.Id })')"><i class="fa fa-retweet fa-fw"></i> @T("Products.Compare.AddToCompareList") </button>
   </div><br/>
}