@model ProductDetailsModel
@using Nop.Web.Models.Catalog;
@if (Model.HasSampleDownload)
{
    <div class="download-sample">
        <span class="">
            <a href="@Url.RouteUrl("GetSampleDownload", new { productid = Model.Id })" class="btn btn-primary"><i class="fa fa-download fa-fw"></i> @T("Products.DownloadSample") </a>
        </span>
    </div>
}