@model ProductDetailsModel
@using Nop.Web.Models.Catalog;
@if (Model.EmailAFriendEnabled)
{
    <div class="email-a-friend col-md-5">
       <button type="button" class="btn btn-primary email-a-friend-button"  onclick="setLocation('@Url.RouteUrl("ProductEmailAFriend", new { productId = Model.Id })')" ><i class="fa fa-envelope fa-fw"></i> @T("Products.EmailAFriend") </button>
   </div>

}