@model ManufacturerNavigationModel
@using Nop.Web.Models.Catalog;
@if (Model.Manufacturers.Count > 0)
{

    <div class="brands_products"><!--brands_products-->
        <h2>@T("Manufacturers")</h2>
        <div class="brands-name">
            <ul class="nav nav-pills nav-stacked">
                @foreach (var manufacturer in Model.Manufacturers)
                {
                    <li class="@(manufacturer.IsActive ? "active" : "inactive")"><a href="@Url.RouteUrl("Manufacturer", new { SeName = manufacturer.SeName })">@manufacturer.Name</a>
                    </li>
                }
            </ul>
        </div>
    </div>
<!--/brands_products-->


  

   
}