@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.PageNotFound").Text);
}

<div class="features_items"><!--features_items-->
    <h2 class="title text-center">@T("PageTitle.PageNotFound")</h2>
    @Html.Action("TopicBlock", "Topic", new { systemName = "PageNotFound" })
    <div class="custom-page-box-div">
        <img src="~/Themes/NopShop/Content/css/images/404/404.png" class="img-responsive" alt="" />
    </div>
</div>

