@model RegisterResultModel
@using Nop.Web.Models.Customer;
@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Register").Text);

    //continue URL
    var continueUrl = "";
    if (!String.IsNullOrEmpty(this.Context.Request.QueryString["returnUrl"]))
    {
        continueUrl = this.Context.Request.QueryString["returnUrl"];
    }
    else
    {
        continueUrl = Url.RouteUrl("HomePage");
    }
}
<div class="features_items my-account-page"><!--features_items-->
    <h2 class="title text-center">@T("Account.Register")</h2>
    <div class="custom-page-box-div">
        <div class="row">
            <div class="col-sm-12">
                <div class="result">
            @Model.Result
        </div>
        <div class="buttons">
            <input type="button" class="button-1 btn btn-primary" onclick="location.href='@continueUrl'" value="@T("Account.Register.Result.Continue")" />
        </div>
            </div>
        </div>
        

    </div>
</div>

