@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.StoreClosed").Text);
}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="custom-page-box-div">
                <div class="custom-footer-cart-div">
                    <div class="hint">
                        <h3>@T("StoreClosed")</h3>
                        @T("StoreClosed.Hint")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>