@model ForumGroupModel
@using Nop.Web.Models.Boards;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    Html.AddTitleParts(Model.Name);
}
<div class="container forum-group-search-div">
    <div class="row">
        <div class="col-md-9">
            @Html.Action("ForumBreadcrumb", new { forumGroupId = Model.Id })

        </div>
        <div class="col-md-3">
             @Html.Partial("_SearchBox")
        </div>
    </div>
</div>


       
<div class="container">
    <div class="row forums-page-header">
        <div class="col-md-12">
            <div class="page">
                @Html.Partial("_ForumGroup", Model)
            </div>
        </div>
    </div>
</div>

